.address {    
    position: absolute;
    bottom: 60px;
    color: white;            
}

.upload {
    margin-right: 10px;
    color: white;    
    font-size: 40px;    
    font-weight: 700;
    text-decoration: none;
    float: right;    
}

.video {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;     
    width: 100vw;
    height: 100vh;
    z-index: -1;        
}